In [31]:
import numpy as np
import pandas as pd
import pickle
import os
import sqlite3

In [ ]:
conn =  sqlite3.connect(r"C:\Users\rahul\OneDrive\Desktop\last\Hackathon\backend\Sqlite3.db")
try:
    df  = pd.read_sql("SELECT * FROM posts",conn)
except sqlite3.Error as error:
    print(error)

In [33]:
df.head()

,post_ID,student,post_description,date_uploaded,course,skills
0,1,8,Your upon media realize often life. Give hospi...,2023-04-15,Astronomy,"Statistics, Physics Simulations, Machine Learning"
1,2,33,Suddenly consumer half office where near. Road...,2024-01-12,Computer Science,"Machine Learning, Data Analysis, Statistics"
2,3,48,Street between these appear black owner ten.\n...,2024-10-02,Engineering,"Statistics, Data Analysis, Physics Simulations"
3,4,28,Explain talk you around. Against between littl...,2024-05-01,Computer Science,"Physics Simulations, Circuit Design, Statistics"
4,5,45,Truth example arm authority court as. Fly play...,2023-03-12,Biology,"Machine Learning, Python, Circuit Design"

In [34]:
posts_df = df[['post_description','course','skills']]
posts_df

,post_description,course,skills
0,Your upon media realize often life. Give hospi...,Astronomy,"Statistics, Physics Simulations, Machine Learning"
1,Suddenly consumer half office where near. Road...,Computer Science,"Machine Learning, Data Analysis, Statistics"
2,Street between these appear black owner ten.\n...,Engineering,"Statistics, Data Analysis, Physics Simulations"
3,Explain talk you around. Against between littl...,Computer Science,"Physics Simulations, Circuit Design, Statistics"
4,Truth example arm authority court as. Fly play...,Biology,"Machine Learning, Python, Circuit Design"
...,...,...,...
95,Pay account tough American. Artist put positiv...,Chemistry,"Data Analysis, Calculus, Machine Learning"
96,Describe step add feel agent. Least effort ris...,Biology,"Python, Machine Learning, Genetics"
97,Too benefit opportunity especially model admit...,Computer Science,"Python, Chemistry Lab, Genetics"
98,In before order but church town. Focus skill c...,Chemistry,"Chemistry Lab, Genetics, Data Analysis"
99,Day drop choice human she fund land. Amount ca...,Mathematics,"Genetics, Circuit Design, Calculus"

In [35]:
posts_df['overview'] = posts_df['post_description']+' ' +posts_df['course']+' ' +posts_df['skills']
posts_df

C:\Users\rahul\AppData\Local\Temp\ipykernel_24596\1836472268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  posts_df['overview'] = posts_df['post_description']+' ' +posts_df['course']+' ' +posts_df['skills']

,post_description,course,skills,overview
0,Your upon media realize often life. Give hospi...,Astronomy,"Statistics, Physics Simulations, Machine Learning",Your upon media realize often life. Give hospi...
1,Suddenly consumer half office where near. Road...,Computer Science,"Machine Learning, Data Analysis, Statistics",Suddenly consumer half office where near. Road...
2,Street between these appear black owner ten.\n...,Engineering,"Statistics, Data Analysis, Physics Simulations",Street between these appear black owner ten.\n...
3,Explain talk you around. Against between littl...,Computer Science,"Physics Simulations, Circuit Design, Statistics",Explain talk you around. Against between littl...
4,Truth example arm authority court as. Fly play...,Biology,"Machine Learning, Python, Circuit Design",Truth example arm authority court as. Fly play...
...,...,...,...,...
95,Pay account tough American. Artist put positiv...,Chemistry,"Data Analysis, Calculus, Machine Learning",Pay account tough American. Artist put positiv...
96,Describe step add feel agent. Least effort ris...,Biology,"Python, Machine Learning, Genetics",Describe step add feel agent. Least effort ris...
97,Too benefit opportunity especially model admit...,Computer Science,"Python, Chemistry Lab, Genetics",Too benefit opportunity especially model admit...
98,In before order but church town. Focus skill c...,Chemistry,"Chemistry Lab, Genetics, Data Analysis",In before order but church town. Focus skill c...
99,Day drop choice human she fund land. Amount ca...,Mathematics,"Genetics, Circuit Design, Calculus",Day drop choice human she fund land. Amount ca...

In [36]:
posts_df = posts_df.drop_duplicates()

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=3000,stop_words='english')
X = vectorizer.fit_transform(posts_df['overview']).toarray()

In [38]:
vectorizer.get_feature_names_out()

array(['ability', 'able', 'accept', 'account', 'act', 'action',
       'activity', 'actually', 'add', 'address', 'administration',
       'admit', 'adult', 'affect', 'agent', 'ago', 'agree', 'agreement',
       'ahead', 'air', 'allow', 'american', 'analysis', 'animal',
       'answer', 'appear', 'apply', 'approach', 'area', 'argue', 'arm',
       'arrive', 'art', 'article', 'artist', 'ask', 'assume', 'astronomy',
       'attack', 'attention', 'attorney', 'audience', 'author',
       'authority', 'available', 'avoid', 'away', 'baby', 'bad', 'bag',
       'ball', 'bank', 'bar', 'base', 'beautiful', 'bed', 'begin',
       'behavior', 'believe', 'benefit', 'best', 'better', 'big',
       'billion', 'biology', 'bit', 'black', 'blood', 'blue', 'board',
       'body', 'book', 'box', 'boy', 'break', 'bring', 'budget', 'build',
       'building', 'business', 'buy', 'calculus', 'campaign', 'candidate',
       'capital', 'card', 'care', 'career', 'carry', 'case', 'cause',
       'cell', 'center', 'central', 'century', 'certain', 'certainly',
       'chair', 'challenge', 'chance', 'change', 'character', 'charge',
       'check', 'chemistry', 'child', 'choice', 'choose', 'church',
       'circuit', 'citizen', 'city', 'civil', 'claim', 'class', 'clear',
       'clearly', 'close', 'coach', 'cold', 'collection', 'college',
       'color', 'commercial', 'common', 'community', 'compare',
       'computer', 'concern', 'condition', 'conference', 'congress',
       'consider', 'consumer', 'contain', 'continue', 'control', 'cost',
       'country', 'couple', 'course', 'court', 'cover', 'create', 'crime',
       'cultural', 'culture', 'cup', 'cut', 'dark', 'data', 'daughter',
       'day', 'deal', 'debate', 'decade', 'decide', 'decision', 'defense',
       'democrat', 'democratic', 'design', 'despite', 'determine',
       'develop', 'development', 'difference', 'different', 'difficult',
       'dinner', 'direction', 'director', 'discover', 'discuss',
       'discussion', 'doctor', 'dog', 'door', 'draw', 'dream', 'drive',
       'drop', 'drug', 'early', 'east', 'easy', 'eat', 'economic',
       'economy', 'edge', 'education', 'effect', 'effort', 'employee',
       'end', 'energy', 'engineering', 'enjoy', 'enter', 'entire',
       'environmental', 'especially', 'establish', 'event', 'everybody',
       'evidence', 'example', 'executive', 'exist', 'expect',
       'experience', 'expert', 'explain', 'eye', 'fact', 'factor', 'fall',
       'family', 'far', 'fast', 'father', 'fear', 'federal', 'feel',
       'feeling', 'fight', 'figure', 'film', 'final', 'finally',
       'financial', 'fine', 'finish', 'firm', 'fish', 'floor', 'fly',
       'focus', 'follow', 'food', 'foot', 'force', 'foreign', 'forget',
       'form', 'forward', 'free', 'friend', 'fund', 'future', 'game',
       'garden', 'gas', 'generation', 'genetics', 'girl', 'glass', 'good',
       'government', 'great', 'green', 'ground', 'group', 'grow',
       'growth', 'guess', 'gun', 'guy', 'hair', 'half', 'hand', 'happen',
       'happy', 'health', 'hear', 'heart', 'help', 'high', 'history',
       'hit', 'hold', 'home', 'hope', 'hospital', 'hot', 'hotel', 'hour',
       'house', 'huge', 'human', 'husband', 'idea', 'identify', 'image',
       'imagine', 'impact', 'important', 'improve', 'include', 'increase',
       'indicate', 'individual', 'industry', 'information', 'inside',
       'instead', 'institution', 'interesting', 'international',
       'interview', 'investment', 'involve', 'item', 'job', 'join',
       'just', 'key', 'kind', 'kitchen', 'know', 'knowledge', 'lab',
       'land', 'language', 'large', 'late', 'later', 'laugh', 'law',
       'lawyer', 'lay', 'lead', 'leader', 'learn', 'learning', 'leave',
       'left', 'leg', 'let', 'letter', 'level', 'life', 'like', 'line',
       'list', 'little', 'live', 'long', 'look', 'lose', 'loss', 'lot',
       'low', 'machine', 'magazine', 'main', 'major', 'majority', 'make',
       'man', 'manage', 'management', 'manager', 'market', 'marriage',
       'material', 'mathematics', 'matter', 'maybe', 'mean', 'measure',
       'media', 'medical', 'meeting', 'member', 'memory', 'mention',
       'message', 'method', 'middle', 'military', 'million', 'minute',
       'miss', 'model', 'modern', 'moment', 'money', 'month', 'morning',
       'mother', 'mouth', 'movement', 'movie', 'mr', 'mrs', 'music',
       'nation', 'national', 'natural', 'nature', 'near', 'nearly',
       'necessary', 'need', 'network', 'new', 'news', 'newspaper', 'nice',
       'night', 'north', 'note', 'notice', 'number', 'occur', 'offer',
       'office', 'officer', 'official', 'oil', 'ok', 'old', 'open',
       'operation', 'opportunity', 'option', 'order', 'organization',
       'outside', 'owner', 'page', 'painting', 'paper', 'parent',
       'particularly', 'partner', 'party', 'pass', 'past', 'pattern',
       'pay', 'peace', 'people', 'perform', 'performance', 'person',
       'personal', 'phone', 'physical', 'physics', 'pick', 'picture',
       'piece', 'place', 'plan', 'play', 'player', 'pm', 'point',
       'police', 'policy', 'political', 'poor', 'popular', 'population',
       'position', 'positive', 'possible', 'power', 'practice',
       'president', 'pressure', 'pretty', 'prevent', 'price', 'probably',
       'process', 'produce', 'product', 'production', 'professional',
       'professor', 'program', 'project', 'property', 'protect', 'prove',
       'provide', 'public', 'pull', 'purpose', 'python', 'quality',
       'question', 'quickly', 'quite', 'race', 'radio', 'raise', 'range',
       'rate', 'reach', 'read', 'ready', 'real', 'reality', 'realize',
       'really', 'receive', 'recent', 'recently', 'recognize', 'record',
       'red', 'reduce', 'reflect', 'region', 'relate', 'relationship',
       'religious', 'remain', 'remember', 'report', 'republican',
       'require', 'research', 'resource', 'respond', 'response',
       'responsibility', 'rest', 'result', 'return', 'reveal', 'right',
       'rise', 'risk', 'road', 'rock', 'role', 'rule', 'run', 'safe',
       'save', 'say', 'scene', 'school', 'science', 'scientist', 'score',
       'sea', 'season', 'second', 'seek', 'sell', 'send', 'senior',
       'sense', 'series', 'serve', 'service', 'set', 'seven', 'shake',
       'share', 'short', 'shoulder', 'sign', 'significant', 'similar',
       'simple', 'simply', 'simulations', 'sing', 'single', 'sister',
       'sit', 'site', 'situation', 'size', 'skill', 'skin', 'small',
       'smile', 'social', 'society', 'soldier', 'somebody', 'son', 'song',
       'soon', 'sort', 'sound', 'source', 'south', 'southern', 'space',
       'speak', 'specific', 'speech', 'spend', 'sport', 'spring', 'staff',
       'stand', 'standard', 'star', 'start', 'state', 'statement',
       'statistics', 'stay', 'step', 'stock', 'stop', 'store', 'story',
       'strategy', 'street', 'strong', 'student', 'study', 'stuff',
       'style', 'subject', 'successful', 'suddenly', 'suffer', 'suggest',
       'summer', 'support', 'surface', 'table', 'talk', 'task', 'tax',
       'teach', 'teacher', 'team', 'technology', 'television', 'tell',
       'tend', 'term', 'test', 'thank', 'theory', 'thing', 'think',
       'thought', 'thousand', 'throw', 'time', 'today', 'tonight',
       'total', 'tough', 'town', 'traditional', 'travel', 'treat',
       'treatment', 'tree', 'trial', 'trip', 'trouble', 'true', 'truth',
       'try', 'turn', 'tv', 'type', 'understand', 'unit', 'use',
       'usually', 'value', 'various', 'visit', 'voice', 'vote', 'wait',
       'wall', 'want', 'war', 'water', 'week', 'western', 'white', 'wide',
       'wife', 'win', 'wind', 'window', 'wish', 'woman', 'wonder', 'work',
       'worker', 'worry', 'write', 'wrong', 'yard', 'year', 'yes',
       'young'], dtype=object)

In [39]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_mat = cosine_similarity(X)

In [40]:
d = pd.DataFrame(similarity_mat)
d.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,0.158362,0.111417,0.158362,0.083045,0.101710,0.081044,0.175075,0.207614,0.116160,...,0.107211,0.000000,0.087538,0.166091,0.107211,0.109254,0.071474,0.121566,0.000000,0.000000
1,0.158362,1.000000,0.170561,0.136364,0.143019,0.077850,0.093048,0.100504,0.238366,0.000000,...,0.082061,0.182818,0.100504,0.190693,0.164122,0.209061,0.082061,0.139573,0.095346,0.000000
2,0.111417,0.170561,1.000000,0.127920,0.044721,0.000000,0.043644,0.047140,0.089443,0.083406,...,0.192450,0.171499,0.094281,0.044721,0.076980,0.117670,0.115470,0.000000,0.089443,0.000000
3,0.158362,0.136364,0.127920,1.000000,0.095346,0.116775,0.186097,0.100504,0.190693,0.133366,...,0.082061,0.109691,0.000000,0.143019,0.000000,0.083624,0.041030,0.139573,0.000000,0.082061
4,0.083045,0.143019,0.044721,0.095346,1.000000,0.163299,0.146385,0.158114,0.200000,0.093250,...,0.086066,0.076696,0.052705,0.200000,0.129099,0.087706,0.215166,0.048795,0.000000,0.086066

In [41]:
sorted(list(enumerate(similarity_mat[0])),reverse=True,key=lambda x:x[1])[1:10]

[(21, np.float64(0.24137931034482762)),
 (69, np.float64(0.21300716142115247)),
 (8, np.float64(0.2076136996343499)),
 (78, np.float64(0.19851666679418606)),
 (27, np.float64(0.19360077316559157)),
 (38, np.float64(0.19360077316559157)),
 (74, np.float64(0.17868542247296582)),
 (73, np.float64(0.17546560158589908)),
 (7, np.float64(0.17507524381296344))]

In [42]:
def post_recommend(course):
    postIndex  = df[df['course']==course].index[0]
    distances_ = similarity_mat[postIndex]
    post_list = sorted(list(enumerate(distances_)),reverse=True,key=lambda x:x[1])[1:10]
    recommended_df = df.iloc[[i[0] for i in post_list]]
    return recommended_df

In [43]:
post_recommend("Biology")

,post_ID,student,post_description,date_uploaded,course,skills
60,61,46,Increase understand able wish. And staff refle...,2024-01-27,Engineering,"Machine Learning, Python, Circuit Design"
27,28,61,International four painting pattern realize wi...,2023-10-27,Computer Science,"Chemistry Lab, Machine Learning, Circuit Design"
87,88,60,Perhaps place go air human feel Mr. Clear towa...,2024-02-03,Biology,"Calculus, Circuit Design, Machine Learning"
96,97,8,Describe step add feel agent. Least effort ris...,2024-02-20,Biology,"Python, Machine Learning, Genetics"
49,50,15,Smile pressure military center do him statemen...,2023-03-20,Biology,"Calculus, Python, Machine Learning"
70,71,58,Shoulder apply check hit. Not through physical...,2023-03-30,Biology,"Circuit Design, Statistics, Machine Learning"
8,9,30,Feeling pay growth. List one Mrs star arm grou...,2023-10-10,Computer Science,"Python, Machine Learning, Physics Simulations"
93,94,34,Southern billion eat story adult parent. Hit c...,2024-07-03,Data Science,"Circuit Design, Machine Learning, Genetics"
75,76,20,Couple receive line coach mean seven short. Pi...,2024-10-16,Physics,"Machine Learning, Circuit Design, Genetics"

In [46]:
directory_path = "C:\\Users\\rahul\\OneDrive\\Desktop\\Hackathon\\Hackathon\\backend"
with open(os.path.join(directory_path, "postList.pkl"), 'wb') as f:
    pickle.dump(df.to_dict(), f)

with open(os.path.join(directory_path, "similarity.pkl"), 'wb') as f:
    pickle.dump(similarity_mat, f)