In [15]:
import numpy as np
import pandas as pd
import pickle
import os
import sqlite3

In [16]:
conn =  sqlite3.connect(r"Sqlite3.db")
try:
    df  = pd.read_sql("SELECT * FROM posts",conn)
except sqlite3.Error as error:
    print(error)

In [17]:
df.head()

,post_ID,student,post_description,date_uploaded,course,skills
0,1,13,Art enter gas imagine attack. Budget relate su...,2024-06-18,Data Science,"Data Analysis, Machine Learning, Calculus"
1,2,32,Else group most report. Form just run go edge ...,2023-05-15,Data Science,"Data Analysis, Machine Learning, Statistics"
2,3,72,Card stop order doctor before have case. Atten...,2024-03-17,Engineering,"Chemistry Lab, Calculus, Genetics"
3,4,75,Conference do nothing themselves. National tou...,2024-08-07,Biology,"Machine Learning, Physics Simulations, Calculus"
4,5,8,Past assume bank because. Others crime politic...,2022-11-29,Engineering,"Chemistry Lab, Statistics, Machine Learning"

In [18]:
posts_df = df[['post_description','course','skills']]
posts_df

,post_description,course,skills
0,Art enter gas imagine attack. Budget relate su...,Data Science,"Data Analysis, Machine Learning, Calculus"
1,Else group most report. Form just run go edge ...,Data Science,"Data Analysis, Machine Learning, Statistics"
2,Card stop order doctor before have case. Atten...,Engineering,"Chemistry Lab, Calculus, Genetics"
3,Conference do nothing themselves. National tou...,Biology,"Machine Learning, Physics Simulations, Calculus"
4,Past assume bank because. Others crime politic...,Engineering,"Chemistry Lab, Statistics, Machine Learning"
...,...,...,...
95,Offer black key her. Off value paper think hel...,Astronomy,"Python, Machine Learning, Physics Simulations"
96,Term pass save general pull exist trade. Apply...,Chemistry,"Physics Simulations, Circuit Design, Genetics"
97,Many star pressure small traditional. List beh...,Physics,"Machine Learning, Calculus, Chemistry Lab"
98,Enough buy fall mouth. Firm rule address head ...,Astronomy,"Machine Learning, Python, Chemistry Lab"
99,Condition always organization option range hun...,Engineering,"Calculus, Machine Learning, Chemistry Lab"

In [19]:
posts_df['overview'] = posts_df['post_description']+' ' +posts_df['course']+' ' +posts_df['skills']
posts_df

/var/folders/08/v61c1c654xd70vvbj924llwc0000gn/T/ipykernel_74510/1836472268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  posts_df['overview'] = posts_df['post_description']+' ' +posts_df['course']+' ' +posts_df['skills']

,post_description,course,skills,overview
0,Art enter gas imagine attack. Budget relate su...,Data Science,"Data Analysis, Machine Learning, Calculus",Art enter gas imagine attack. Budget relate su...
1,Else group most report. Form just run go edge ...,Data Science,"Data Analysis, Machine Learning, Statistics",Else group most report. Form just run go edge ...
2,Card stop order doctor before have case. Atten...,Engineering,"Chemistry Lab, Calculus, Genetics",Card stop order doctor before have case. Atten...
3,Conference do nothing themselves. National tou...,Biology,"Machine Learning, Physics Simulations, Calculus",Conference do nothing themselves. National tou...
4,Past assume bank because. Others crime politic...,Engineering,"Chemistry Lab, Statistics, Machine Learning",Past assume bank because. Others crime politic...
...,...,...,...,...
95,Offer black key her. Off value paper think hel...,Astronomy,"Python, Machine Learning, Physics Simulations",Offer black key her. Off value paper think hel...
96,Term pass save general pull exist trade. Apply...,Chemistry,"Physics Simulations, Circuit Design, Genetics",Term pass save general pull exist trade. Apply...
97,Many star pressure small traditional. List beh...,Physics,"Machine Learning, Calculus, Chemistry Lab",Many star pressure small traditional. List beh...
98,Enough buy fall mouth. Firm rule address head ...,Astronomy,"Machine Learning, Python, Chemistry Lab",Enough buy fall mouth. Firm rule address head ...
99,Condition always organization option range hun...,Engineering,"Calculus, Machine Learning, Chemistry Lab",Condition always organization option range hun...

In [20]:
posts_df = posts_df.drop_duplicates()

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=3000,stop_words='english')
X = vectorizer.fit_transform(posts_df['overview']).toarray()

In [22]:
vectorizer.get_feature_names_out()

array(['able', 'accept', 'according', 'account', 'act', 'action',
       'actually', 'add', 'address', 'administration', 'admit', 'adult',
       'affect', 'age', 'agency', 'agent', 'ago', 'agree', 'agreement',
       'ahead', 'allow', 'american', 'analysis', 'animal', 'answer',
       'appear', 'apply', 'approach', 'area', 'argue', 'arm', 'arrive',
       'art', 'article', 'artist', 'ask', 'assume', 'astronomy', 'attack',
       'attention', 'attorney', 'audience', 'author', 'available', 'away',
       'bad', 'bag', 'bank', 'bar', 'base', 'beat', 'beautiful', 'bed',
       'begin', 'behavior', 'believe', 'benefit', 'best', 'better', 'big',
       'billion', 'biology', 'black', 'blood', 'board', 'body', 'book',
       'born', 'box', 'boy', 'break', 'bring', 'brother', 'budget',
       'build', 'building', 'business', 'buy', 'calculus', 'camera',
       'campaign', 'candidate', 'car', 'card', 'care', 'career', 'carry',
       'case', 'catch', 'cell', 'center', 'central', 'century', 'certain',
       'certainly', 'chair', 'challenge', 'chance', 'change', 'character',
       'check', 'chemistry', 'child', 'choice', 'choose', 'church',
       'circuit', 'city', 'civil', 'claim', 'class', 'clear', 'clearly',
       'close', 'coach', 'collection', 'college', 'color', 'commercial',
       'common', 'community', 'company', 'compare', 'computer', 'concern',
       'condition', 'conference', 'congress', 'consider', 'consumer',
       'contain', 'control', 'country', 'couple', 'course', 'court',
       'cover', 'create', 'crime', 'cultural', 'culture', 'cup',
       'current', 'cut', 'data', 'daughter', 'deal', 'debate', 'decade',
       'decide', 'decision', 'deep', 'defense', 'degree', 'democratic',
       'design', 'despite', 'determine', 'develop', 'development',
       'difference', 'different', 'difficult', 'dinner', 'director',
       'discover', 'discuss', 'discussion', 'doctor', 'dog', 'door',
       'draw', 'dream', 'drive', 'drop', 'drug', 'early', 'east', 'easy',
       'eat', 'economic', 'economy', 'edge', 'education', 'effect',
       'effort', 'election', 'employee', 'end', 'engineering', 'enter',
       'environmental', 'especially', 'establish', 'evening', 'event',
       'evidence', 'exactly', 'example', 'executive', 'exist', 'expect',
       'experience', 'expert', 'explain', 'face', 'fact', 'factor',
       'fall', 'family', 'far', 'fast', 'father', 'fear', 'feel',
       'feeling', 'field', 'fight', 'figure', 'finally', 'financial',
       'fine', 'finish', 'firm', 'fish', 'floor', 'fly', 'focus', 'food',
       'foot', 'force', 'forget', 'form', 'forward', 'free', 'friend',
       'fund', 'future', 'game', 'gas', 'general', 'generation',
       'genetics', 'girl', 'glass', 'good', 'government', 'great',
       'ground', 'group', 'grow', 'growth', 'guess', 'gun', 'hair',
       'half', 'hand', 'happen', 'happy', 'head', 'health', 'hear',
       'heart', 'help', 'high', 'history', 'hit', 'hold', 'home', 'hope',
       'hot', 'hotel', 'hour', 'house', 'huge', 'human', 'husband',
       'idea', 'identify', 'imagine', 'impact', 'important', 'improve',
       'include', 'including', 'increase', 'indicate', 'individual',
       'industry', 'information', 'inside', 'instead', 'interesting',
       'international', 'interview', 'involve', 'issue', 'item', 'job',
       'join', 'just', 'key', 'kid', 'kind', 'know', 'knowledge', 'lab',
       'land', 'language', 'large', 'later', 'laugh', 'law', 'lawyer',
       'lay', 'lead', 'leader', 'learn', 'learning', 'left', 'leg', 'let',
       'letter', 'level', 'life', 'light', 'like', 'likely', 'list',
       'listen', 'little', 'live', 'local', 'long', 'look', 'lose',
       'loss', 'low', 'machine', 'magazine', 'main', 'maintain', 'major',
       'majority', 'make', 'man', 'manage', 'management', 'manager',
       'market', 'material', 'mathematics', 'matter', 'maybe', 'mean',
       'measure', 'media', 'medical', 'meet', 'meeting', 'member',
       'memory', 'mention', 'message', 'middle', 'military', 'million',
       'mind', 'minute', 'miss', 'mission', 'model', 'modern', 'moment',
       'money', 'month', 'morning', 'mother', 'mouth', 'movement', 'mr',
       'mrs', 'music', 'nation', 'national', 'natural', 'nature', 'near',
       'necessary', 'need', 'network', 'new', 'news', 'newspaper',
       'night', 'north', 'notice', 'number', 'occur', 'offer', 'office',
       'officer', 'official', 'oil', 'ok', 'old', 'open', 'operation',
       'opportunity', 'option', 'order', 'organization', 'outside',
       'owner', 'page', 'painting', 'paper', 'parent', 'participant',
       'particularly', 'party', 'pass', 'past', 'pattern', 'pay', 'peace',
       'people', 'perform', 'performance', 'person', 'personal',
       'physical', 'physics', 'pick', 'picture', 'piece', 'place', 'plan',
       'plant', 'player', 'pm', 'point', 'police', 'policy', 'political',
       'politics', 'poor', 'popular', 'population', 'position',
       'positive', 'possible', 'power', 'practice', 'prepare', 'present',
       'president', 'pressure', 'pretty', 'prevent', 'price', 'probably',
       'process', 'produce', 'product', 'production', 'professional',
       'professor', 'program', 'project', 'property', 'protect',
       'provide', 'public', 'pull', 'push', 'python', 'quality',
       'question', 'quickly', 'quite', 'race', 'radio', 'raise', 'range',
       'rate', 'reach', 'ready', 'real', 'reality', 'realize', 'really',
       'reason', 'recent', 'recently', 'recognize', 'record', 'red',
       'reduce', 'reflect', 'region', 'relate', 'relationship',
       'religious', 'remain', 'remember', 'report', 'represent',
       'republican', 'research', 'resource', 'respond', 'response',
       'responsibility', 'rest', 'result', 'reveal', 'rich', 'right',
       'rise', 'risk', 'road', 'rock', 'role', 'room', 'rule', 'run',
       'save', 'say', 'scene', 'science', 'score', 'sea', 'season',
       'seat', 'second', 'security', 'seek', 'senior', 'sense', 'series',
       'serve', 'service', 'set', 'shake', 'share', 'short', 'sign',
       'significant', 'similar', 'simple', 'simply', 'simulations',
       'sing', 'single', 'sister', 'site', 'situation', 'size', 'skill',
       'skin', 'small', 'smile', 'social', 'society', 'soldier',
       'somebody', 'son', 'song', 'soon', 'sort', 'sound', 'source',
       'south', 'space', 'special', 'specific', 'speech', 'spend',
       'sport', 'spring', 'staff', 'stage', 'stand', 'standard', 'star',
       'start', 'statement', 'station', 'statistics', 'step', 'stock',
       'stop', 'store', 'story', 'strategy', 'street', 'strong',
       'student', 'study', 'stuff', 'style', 'subject', 'success',
       'successful', 'suddenly', 'suffer', 'suggest', 'summer', 'support',
       'sure', 'surface', 'table', 'talk', 'task', 'tax', 'teach',
       'teacher', 'team', 'technology', 'television', 'tell', 'tend',
       'term', 'test', 'thank', 'theory', 'thing', 'think', 'thought',
       'thousand', 'threat', 'throw', 'time', 'total', 'tough', 'town',
       'trade', 'traditional', 'training', 'travel', 'treatment', 'tree',
       'trial', 'trip', 'trouble', 'true', 'truth', 'try', 'turn', 'tv',
       'type', 'understand', 'use', 'usually', 'value', 'various', 'view',
       'visit', 'voice', 'vote', 'wait', 'walk', 'want', 'war', 'watch',
       'water', 'way', 'wear', 'week', 'weight', 'west', 'western',
       'white', 'wide', 'wife', 'win', 'wind', 'window', 'wish', 'woman',
       'wonder', 'word', 'work', 'worker', 'world', 'worry', 'write',
       'writer', 'wrong', 'yard', 'yeah', 'year', 'yes', 'young'],
      dtype=object)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_mat = cosine_similarity(X)

In [24]:
d = pd.DataFrame(similarity_mat)
d.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,0.367423,0.041703,0.145521,0.117670,0.036515,0.080000,0.080000,0.151186,0.000000,...,0.332820,0.041703,0.115470,0.163299,0.000000,0.089443,0.081650,0.223607,0.107763,0.141421
1,0.367423,1.000000,0.000000,0.247537,0.120096,0.149071,0.040825,0.163299,0.192879,0.113715,...,0.396297,0.000000,0.117851,0.166667,0.127688,0.091287,0.000000,0.091287,0.073324,0.144338
2,0.041703,0.000000,1.000000,0.050572,0.122679,0.114208,0.166812,0.083406,0.078811,0.116160,...,0.000000,0.130435,0.080257,0.085126,0.043478,0.000000,0.085126,0.186501,0.074901,0.196589
3,0.145521,0.247537,0.050572,1.000000,0.095130,0.088561,0.097014,0.194029,0.045835,0.090075,...,0.134535,0.101144,0.140028,0.000000,0.050572,0.216930,0.099015,0.216930,0.087121,0.228665
4,0.117670,0.120096,0.122679,0.095130,1.000000,0.071611,0.117670,0.156893,0.148250,0.145671,...,0.163178,0.081786,0.150970,0.040032,0.040893,0.087706,0.080064,0.219265,0.140894,0.277350

In [25]:
sorted(list(enumerate(similarity_mat[0])),reverse=True,key=lambda x:x[1])[1:10]

[(1, np.float64(0.3674234614174767)),
 (21, np.float64(0.3674234614174767)),
 (90, np.float64(0.33282011773513753)),
 (76, np.float64(0.32)),
 (53, np.float64(0.30237157840738177)),
 (54, np.float64(0.2694301256218254)),
 (75, np.float64(0.2514474228374849)),
 (45, np.float64(0.23570226039551587)),
 (97, np.float64(0.22360679774997896))]

In [26]:
def post_recommend(course):
    postIndex  = df[df['course']==course].index[0]
    distances_ = similarity_mat[postIndex]
    post_list = sorted(list(enumerate(distances_)),reverse=True,key=lambda x:x[1])[1:10]
    recommended_df = df.iloc[[i[0] for i in post_list]]
    return recommended_df

In [27]:
post_recommend("Biology")

,post_ID,student,post_description,date_uploaded,course,skills
78,79,20,Suddenly these artist call quickly. Pm address...,2024-08-27,Physics,"Physics Simulations, Calculus, Machine Learning"
1,2,32,Else group most report. Form just run go edge ...,2023-05-15,Data Science,"Data Analysis, Machine Learning, Statistics"
66,67,45,Own write story mouth. Since early any rather ...,2023-04-30,Physics,"Physics Simulations, Statistics, Machine Learning"
99,100,39,Condition always organization option range hun...,2023-04-29,Engineering,"Calculus, Machine Learning, Chemistry Lab"
43,44,73,Concern also star well. Write but PM speech ma...,2023-05-12,Biology,"Calculus, Physics Simulations, Genetics"
95,96,88,Offer black key her. Off value paper think hel...,2024-03-20,Astronomy,"Python, Machine Learning, Physics Simulations"
97,98,91,Many star pressure small traditional. List beh...,2023-06-13,Physics,"Machine Learning, Calculus, Chemistry Lab"
47,48,47,Try too benefit month answer series. Pay level...,2023-04-07,Engineering,"Physics Simulations, Machine Learning, Circuit..."
50,51,99,Market learn any. Picture police bring focus p...,2023-08-27,Data Science,"Physics Simulations, Machine Learning, Python"

In [28]:
directory_path = ""
with open(os.path.join(directory_path, "postList.pkl"), 'wb') as f:
    pickle.dump(df.to_dict(), f)

with open(os.path.join(directory_path, "similarity.pkl"), 'wb') as f:
    pickle.dump(similarity_mat, f)